* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}

header {
    width: 100%;
    height: 50px;
    background-color: orange;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #f2f2f2;    
}